name: "CI"

on: [push, pull_request]

jobs:
  unix:
    strategy:
      fail-fast: false
      matrix:
        luaVersion: ["5.1", "5.2", "5.3", "5.4", "luajit-openresty"]
        os: ["ubuntu-latest", "macos-latest"]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v6

    - uses: leafo/gh-actions-lua@v12
      with:
        luaVersion: ${{ matrix.luaVersion }}

    - uses: leafo/gh-actions-luarocks@v6

    - name: Install Ubuntu dependencies
      if: runner.os == 'Linux'
      run: |
        sudo apt-get update
        sudo apt-get install --no-install-recommends libvips-dev

    - name: Install macOS dependencies
      if: runner.os == 'macOS'
      run: |
        brew install vips
        echo "DYLD_LIBRARY_PATH=$(brew --prefix vips)/lib:$DYLD_LIBRARY_PATH" >> $GITHUB_ENV

    - name: Install lua-vips
      run: |
        if [[ ${{ matrix.luaVersion }} == luajit* ]]; then
          luarocks config --scope system rocks_provided.luaffi-tkl 2.1-1
        fi
        luarocks make

    - name: Lint with luacheck
      run: |
        luarocks install luacheck
        luacheck -q .

    - name: Busted tests
      run: |
        luarocks test spec/ -- -o gtest -v spec


  windows:
    strategy:
      fail-fast: false
      matrix:
        lua: [
              #{name: "lua51", exe: "lua5.1", version: 5.1, incdir: "/mingw64/include/lua5.1/"},  #(two tests are failing)
              {name: "lua53", exe: "lua5.3", version: 5.3, incdir: "/mingw64/include/lua5.3/"},
              {name: "lua", exe: "lua", version: 5.4, incdir: "/mingw64/include/"},
              {name: "luajit", exe: "luajit", version: 5.1, incdir: "/mingw64/include/luajit-2.1/"}
             ]

    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - uses: actions/checkout@v4
      - uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          update: true
          install: git
                   make
                   mingw-w64-x86_64-toolchain
                   mingw-w64-x86_64-libvips
                   mingw-w64-x86_64-openslide
                   mingw-w64-x86_64-libheif
                   mingw-w64-x86_64-libjxl
                   mingw-w64-x86_64-imagemagick
                   mingw-w64-x86_64-poppler
                   mingw-w64-x86_64-lua-luarocks
                   mingw-w64-x86_64-${{ matrix.lua.name }}

      - name: Lua dependencies
        run: |
          if [[ ${{ matrix.lua.exe }} == lua5.3 ]]; then
            cp /mingw64/etc/luarocks/config-5.{4,3}.lua
          fi
          luarocks config --scope system lua_version ${{ matrix.lua.version }}
          luarocks config --scope system lua_interpreter ${{ matrix.lua.exe }}.exe
          luarocks config --scope system variables.LUA_DIR /mingw64/bin
          luarocks config --scope system variables.LUA_INCDIR ${{ matrix.lua.incdir }}
          if [[ ${{ matrix.lua.exe }} == luajit ]]; then
            luarocks config --scope system rocks_provided.luaffi-tkl 2.1-1
          fi

      - name: Add to PATH
        run: |
          echo $RUNNER_TEMP/msys64/mingw64/bin:$HOME/.luarocks/bin >> $GITHUB_PATH

      - name: Install lua-vips
        run: |
          luarocks make

      - name: Lint with luacheck
        run: |
          luarocks install luacheck
          luacheck.bat -q .

      - name: Busted tests
        run: |
          luarocks test spec -- --lua=${{ matrix.lua.exe }} -o gtest -v
