name: "CI"

on: [push, pull_request]

jobs:
  unix:
    strategy:
      fail-fast: false
      matrix:
        luaVersion: ["5.1", "5.2", "5.3", "5.4", "luajit-2.1.0-beta3", "luajit-openresty"]
        os: ["ubuntu-latest", "macos-latest"]

    runs-on: ${{ matrix.os }}

    steps:
    - uses: actions/checkout@v4

    - uses: leafo/gh-actions-lua@v9
      with:
        luaVersion: ${{ matrix.luaVersion }}

    - uses: leafo/gh-actions-luarocks@v4

    - name: Install libvips
      run: |
        if [[ ${{ matrix.os }} == macos* ]]; then
          brew install vips
        elif [[ ${{ matrix.os }} == ubuntu* ]]; then
          sudo apt update
          sudo apt install --no-install-recommends libvips-dev
        fi

    - name: Lua dependencies
      run: |
        make dev
        if [[ ${{ matrix.luaVersion }} == 5.* ]]; then make ffi; fi

    - name: Lint with luacheck
      run: |
        luacheck -q .

    - name: Busted tests
      run: |
        busted -o gtest -v spec


  windows:
    strategy:
      fail-fast: false
      matrix:
        lua: [
              #{name: "lua51", exe: "lua5.1", version: 5.1, incdir: "/mingw64/include/lua5.1/"},  #(two tests are failing)
              {name: "lua53", exe: "lua5.3", version: 5.3, incdir: "/mingw64/include/lua5.3/"},
              {name: "lua", exe: "lua", version: 5.4, incdir: "/mingw64/include/"},
              {name: "luajit", exe: "luajit", version: 5.1, incdir: "/mingw64/include/luajit-2.1/"}
             ]

    runs-on: windows-latest
    defaults:
      run:
        shell: msys2 {0}
    steps:
      - uses: actions/checkout@v4
      - uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          update: true
          install: git
                   make
                   mingw-w64-x86_64-toolchain
                   mingw-w64-x86_64-libvips
                   mingw-w64-x86_64-openslide
                   mingw-w64-x86_64-libheif
                   mingw-w64-x86_64-libjxl
                   mingw-w64-x86_64-imagemagick
                   mingw-w64-x86_64-poppler
                   mingw-w64-x86_64-lua-luarocks
                   mingw-w64-x86_64-${{ matrix.lua.name }}

      - name: Lua dependencies
        run: |
          if [[ ${{ matrix.lua.exe }} == lua5.3 ]]; then
            cp /mingw64/etc/luarocks/config-5.{4,3}.lua
          fi
          luarocks config --scope system lua_version ${{ matrix.lua.version }}
          luarocks config --scope system lua_interpreter ${{ matrix.lua.exe }}.exe
          luarocks config --scope system variables.LUA_DIR /mingw64/bin
          luarocks config --scope system variables.LUA_INCDIR ${{ matrix.lua.incdir }}
          make dev
          if [[ ${{ matrix.lua.exe }} != luajit ]]; then make ffi; fi

      - name: Add to PATH
        run: |
          echo $RUNNER_TEMP/msys64/mingw64/bin:$HOME/.luarocks/bin >> $GITHUB_PATH

      - name: Lint with luacheck
        run: |
          luacheck.bat -q .

      - name: Busted tests
        run: |
          busted.bat --lua=${{ matrix.lua.exe }} -o gtest -v spec
